header {
    background: transparent;
    color: #555555;
}

header .logo {
    text-decoration: none;
}

header .logo a {
    display: inline-block;
}

aside .aside-box {
    margin-bottom: 30px;
}

footer {
    padding: 24px 0;
    background: transparent;
    color: #555555;
    font-size: 0.85em;
}

#go-top {
    color: #ffffff;
    border-color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
}

#go-top:hover,
#go-top:active,
#go-top.active {
    color: #ffffff;
    border-color: #3f51b5;
    background-color: #3f51b5;
}

form::after {
    content: "";
    display: table;
    clear: both;
}

form p::after {
    content: "";
    display: table;
    clear: both;
}

form .captcha label,
form .captcha input {
    float: left;
    width: 100%;
    font-weight: normal;
}

form .captcha .captcha_field {
    margin-bottom: 1em;
}

form .captcha .recaptcha_links a,
form .captcha .captcha_image a {
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    height: auto;
    line-height: 2.3em;
    padding: 0 1em;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    border-color: #101a80;
    background-color: #3f51b5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: none;
    border: none;
    transition: background 0.3s;
    float: left;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    width: 2.3em;
    margin-right: 0.25em;
}

form .captcha .recaptcha_links a:hover,
form .captcha .captcha_image a:hover,
form .captcha .recaptcha_links a:active,
form .captcha .captcha_image a:active,
form .captcha .recaptcha_links a.active,
form .captcha .captcha_image a.active {
    color: #ffffff;
    border-color: #0a1153;
    background-color: #32408f;
}

form .captcha .recaptcha_links a:active,
form .captcha .captcha_image a:active,
form .captcha .recaptcha_links a.active,
form .captcha .captcha_image a.active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
}

form .captcha .recaptcha_links a::before,
form .captcha .captcha_image a::before {
    font-family: flexkit-icons;
    width: 100%;
    float: left;
    margin: 0;
    line-height: inherit !important;
}

form .captcha .captcha_image {
    width: 100% !important;
    height: auto !important;
    float: left;
    text-align: center;
    margin-bottom: 1em;
}

form .captcha .captcha_image br {
    display: none;
}

form .captcha .captcha_image span {
    float: left;
}

form .captcha .recaptcha_links {
    float: left;
    margin-bottom: 1em;
}

form .captcha .recaptcha_links a[href="javascript:Recaptcha.reload();"]::before {
    content: "\e093";
}

form .captcha .recaptcha_links a.recaptcha_only_if_image::before {
    content: "\e0e2";
}

form .captcha .recaptcha_links a.recaptcha_only_if_audio::before {
    content: "\e008";
}

form .captcha .recaptcha_links a.recaptcha_help::before {
    content: "\e0e3";
}

form .captcha #recaptcha_audio_play_again::before {
    content: "\e0e4";
}

form .captcha #recaptcha_audio_download::before {
    content: "\e0e1";
}

@media only screen and (max-width: 480px), only screen and (min-width: 800px) {
    aside form .captcha .recaptcha_links {
        width: 100%;
    }

    aside form .captcha .recaptcha_links a {
        margin: 0;
        width: 32%;
    }

    aside form .captcha .recaptcha_links a + a {
        margin-left: 2%;
    }

    aside form .captcha .captcha_image span {
        width: 49%;
    }

    aside form .captcha .captcha_image span + br + span {
        margin-left: 2%;
    }

    aside form .captcha .captcha_image a {
        margin: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    form .captcha .recaptcha_links {
        width: 100%;
    }

    form .captcha .recaptcha_links a {
        margin: 0;
        width: 32%;
    }

    form .captcha .recaptcha_links a + a {
        margin-left: 2%;
    }

    form .captcha .captcha_image span {
        width: 49%;
    }

    form .captcha .captcha_image span + br + span {
        margin-left: 2%;
    }

    form .captcha .captcha_image a {
        margin: 0;
        width: 100%;
    }
}

.tablet form .captcha .captcha_image span,
.mobile form .captcha .captcha_image span {
    width: 100%;
}

form [type="submit"] {
    float: right;
}

fieldset legend {
    font-size: 1.25em;
}

fieldset.unstyled {
    padding: 0;
    border: 0;
}

fieldset.unstyled legend {
    padding: 0;
    margin-bottom: .45em;
    font-weight: bold;
}

label,
.label {
    display: block;
    margin-bottom: 0.25em;
}

label[for],
.label[for] {
    cursor: pointer;
}

label[class*="grid_"],
.label[class*="grid_"] {
    margin-bottom: 0;
}

.label-inline label,
.label-inline .label {
    margin-bottom: 0;
    line-height: 2.3em;
}

label.required::after,
.label.required::after {
    color: #f25f5c;
    content: ' *';
}

.notvalid {
    color: #f25f5c;
}

select,
textarea,
input {
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    border: 1px solid #bbbbbb;
    background-color: #ffffff;
    color: #2f2f2f;
    transition: border 0.3s;
}

select:focus,
textarea:focus,
input:focus {
    border-color: #3f51b5;
}

select.success,
textarea.success,
input.success,
select.warning,
textarea.warning,
input.warning,
select.error,
textarea.error,
input.error,
select.info,
textarea.info,
input.info {
    color: #2f2f2f;
}

select.success,
textarea.success,
input.success {
    border-color: #4fc752;
}

select.success:focus,
textarea.success:focus,
input.success:focus {
    box-shadow: 0 0 3px #4fc752 inset;
}

select.warning,
textarea.warning,
input.warning {
    border-color: #ffc159;
}

select.warning:focus,
textarea.warning:focus,
input.warning:focus {
    box-shadow: 0 0 3px #ffc159 inset;
}

select.error,
textarea.error,
input.error,
select.notvalid,
textarea.notvalid,
input.notvalid {
    border-color: #f25f5c;
}

select.error:focus,
textarea.error:focus,
input.error:focus,
select.notvalid:focus,
textarea.notvalid:focus,
input.notvalid:focus {
    box-shadow: 0 0 3px #f25f5c inset;
}

select.info,
textarea.info,
input.info {
    border-color: #28b0ed;
}

select.info:focus,
textarea.info:focus,
input.info:focus {
    box-shadow: 0 0 3px #28b0ed inset;
}

select[disabled],
textarea[disabled],
input[disabled],
[disabled] select,
[disabled] textarea,
[disabled] input,
select[disabled]:focus,
textarea[disabled]:focus,
input[disabled]:focus,
select.noedit,
textarea.noedit,
input.noedit,
select.noedit:focus,
textarea.noedit:focus,
input.noedit:focus {
    border-color: #dddddd;
    background: #eeeeee;
    color: #a2a2a2;
    cursor: not-allowed;
    box-shadow: none;
}

input,
select {
    padding: 0 .5em;
    height: 2.3em;
    line-height: 1.3em;
}

textarea {
    padding: .5em;
    min-height: 5em;
}

textarea.resize {
    resize: vertical;
}

.forgot-password,
.retrieveFormBlock > form + a {
    float: left;
    margin-top: -27px;
}

.filed-upgrade {
    height: auto;
    position: absolute;
    z-index: -10;
    transition: none;
    opacity: 0;
}

.filed-upgrade ~ .checkbox_radio {
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    font-size: 16px;
    height: calc(1em + 1px * 2);
    width: calc(1em + 1px * 2);
    line-height: 0;
    margin: 0;
    background: #ffffff;
    border: 1px solid #bbbbbb;
    color: transparent;
}

.filed-upgrade ~ .checkbox_radio::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0.625em;
    height: 0.625em;
}

.filed-upgrade.error ~ .checkbox_radio {
    border-color: #f25f5c;
}

.filed-upgrade:hover ~ .checkbox_radio::before {
    background: rgba(0, 0, 0, 0.1);
}

.filed-upgrade:checked ~ .checkbox_radio {
    border-color: #4fc752;
}

.filed-upgrade:checked ~ .checkbox_radio::before {
    background: #4fc752;
}

.filed-upgrade:disabled ~ .checkbox_radio {
    background: #eeeeee !important;
    border-color: #d5d5d5 !important;
    color: transparent;
}

.filed-upgrade:disabled:checked ~ .checkbox_radio::before {
    background: #a2a2a2 !important;
}

.filed-upgrade[type="radio"] ~ .checkbox_radio,
.filed-upgrade[type="radio"] ~ .checkbox_radio::before {
    border-radius: 10em;
}

.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio {
    overflow: hidden;
    position: relative;
    width: 4em;
    height: calc(1.25em + 1px * 2);
    line-height: 1.25em;
}

.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio::before {
    font-size: 0.857rem;
    line-height: inherit;
    content: 'OFF';
    background: none;
    color: #f25f5c;
    position: static;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    width: 50%;
    text-align: center;
    float: left;
    margin-left: 50%;
}

.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio::after {
    content: '';
    background: #f25f5c;
    transition: all 0.3s;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    border: 1px solid #ffffff;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
}

.filed-upgrade[type="checkbox"].switcher:checked ~ .checkbox_radio::before {
    content: 'ON';
    margin-left: 0;
    color: #4fc752;
}

.filed-upgrade[type="checkbox"].switcher:checked ~ .checkbox_radio::after {
    left: 50%;
    background: #4fc752;
}

.filed-upgrade[type="checkbox"].switcher:disabled ~ .checkbox_radio::before {
    color: #a2a2a2 !important;
    background: none !important;
}

.filed-upgrade[type="checkbox"].switcher:disabled ~ .checkbox_radio::after {
    background: #a2a2a2 !important;
}

.input-label {
    position: relative;
}

.input-label label {
    color: #e6e6e6;
    position: absolute;
    top: 0;
    left: .5em;
    z-index: 1;
    line-height: 2.3em;
    transition: all 0.2s;
}

.input-label input {
    border-width: 0 0 1px;
    box-shadow: none !important;
}

.input-label input:focus + label,
.input-label input:valid + label {
    color: #3f51b5;
    top: -0.9em;
    font-size: 0.85em;
    line-height: 1em;
}

.input-label input.success:focus + label,
.input-label input.success:valid + label {
    color: #4fc752;
}

.input-label input.warning:focus + label,
.input-label input.warning:valid + label {
    color: #ffc159;
}

.input-label input.error:focus + label,
.input-label input.error:valid + label {
    color: #f25f5c;
}

.input-label input.info:focus + label,
.input-label input.info:valid + label {
    color: #28b0ed;
}

.img_gallery {
    margin: 10px 0;
    font-size: 0;
}

.img_gallery li {
    font-size: 1rem;
    position: relative;
    margin: 5px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.img_gallery a img {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    padding: 3px;
    background: transparent;
    transition: all 0.3s;
    border: 1px solid #bbbbbb;
}

.img_gallery a img:hover {
    border-color: #3f51b5;
}

.img_gallery .image_caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin: 0;
    line-height: 1.5;
    padding: 4px;
    color: #ffffff;
    text-align: center;
    font-size: 0.85em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: rgba(63, 81, 181, 0.8);
}

.rotator {
    position: relative;
    overflow: hidden;
    background: #fff;
}

.rotator .slide-description {
    padding: 10px 16px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.005);
}

.rotator img {
    width: 100%;
}

.rotator img ~ .slide-description {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.cycle-slideshow .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    list-style: none;
}

.cycle-slideshow .slide > a.generator-links:not(:first-child),
.cycle-slideshow .slide > a.tpopup:not(:first-child) {
    position: absolute;
    top: 10px;
    left: 10px;
}

.cycle-slideshow .cycle-pager {
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 20;
    text-align: center;
    font-size: 0;
    line-height: 0;
}

.cycle-slideshow .cycle-pager > * {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 3px;
    color: #ffffff;
    background: #FFF;
    border-radius: 14px;
    width: 10px;
    height: 10px;
    line-height: 10px;
    font-size: 0;
}

.cycle-slideshow .cycle-pager > *::before {
    font-size: 10px;
}

.cycle-slideshow .cycle-pager > *:hover {
    background: #32408f;
}

.cycle-slideshow .cycle-pager > *.cycle-pager-active {
    cursor: default;
    color: #ffffff;
    background: #3f51b5;
}

.cycle-slideshow [class*="cycle-"].action-button {
    background: #3f51b5;
    color: #ffffff;
    position: absolute;
    top: 50%;
    z-index: 20;
    cursor: pointer;
    margin-top: -19px;
    padding: 10px;
    box-sizing: content-box;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 0;
    transition: all 0.3s;
}

.cycle-slideshow [class*="cycle-"].action-button::before {
    font-size: 18px;
}

.cycle-slideshow [class*="cycle-"].action-button:hover {
    background: #32408f;
    color: #ffffff;
}

.cycle-slideshow [class*="cycle-"].action-button::before {
    font-family: flexkit-icons;
}

.cycle-slideshow [class*="cycle-"].action-button.cycle-prev {
    left: -54px;
}

.cycle-slideshow [class*="cycle-"].action-button.cycle-prev::before {
    content: "\e0a9";
}

.cycle-slideshow [class*="cycle-"].action-button.cycle-next {
    right: -54px;
}

.cycle-slideshow [class*="cycle-"].action-button.cycle-next::before {
    content: "\e0a7";
}

.cycle-slideshow:hover .action-button.cycle-prev {
    left: 10px;
}

.cycle-slideshow:hover .action-button.cycle-next {
    right: 10px;
}

@media only screen and (min-width: 801px) {
    .d-hide,
    .t-visible,
    .m-visible {
        display: none !important;
    }
}

@media only screen and (min-width: 481px) and (max-width: 800px) {
    .t-hide,
    .d-visible,
    .m-visible {
        display: none !important;
    }
}

@media only screen and (max-width: 480px) {
    .m-hide,
    .d-visible,
    .t-visible {
        display: none !important;
    }
}

@media only screen and (max-width: 480px) {
    .captcha,
    .captcha img {
        width: 100%;
    }

    form [type="submit"],
    form [type="button"] {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}

html.mobile,
html.tablet {
    overflow: hidden;
}

html.mobile::before,
html.tablet::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 101;
    background-color: #3f51b5;
}

html.mobile .mobile-loader,
html.tablet .mobile-loader {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 102;
}

html.mobile .mobile-loader::after,
html.tablet .mobile-loader::after,
html.mobile .mobile-loader::before,
html.tablet .mobile-loader::before {
    margin: auto;
    content: "";
    display: block;
    border: 5px solid transparent;
    border-top-color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 50%;
}

html.mobile .mobile-loader::after,
html.tablet .mobile-loader::after {
    animation: rotate 1.45s linear infinite;
    width: 4em;
    height: 4em;
}

html.mobile .mobile-loader::before,
html.tablet .mobile-loader::before {
    animation: rotate 1.85s linear infinite;
    width: 4.75em;
    height: 4.75em;
}

html.mobile.loaded,
html.tablet.loaded {
    overflow: initial;
}

html.mobile.loaded::before,
html.tablet.loaded::before {
    content: none;
}

html.mobile.loaded .mobile-loader,
html.tablet.loaded .mobile-loader {
    display: none;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only print {
    * {
        background: none !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
        /* Images, vectors and such */
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter     id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        filter: gray;
        -webkit-filter: grayscale(100%);
        /* Chrome + Safari 6 */
        -moz-filter: grayscale(100%);
        /* Future proof */
        -ms-filter: grayscale(100%);
        /* Future proof */
        -o-filter: grayscale(100%);
        /* Future proof */
        filter: grayscale(100%);
        /* Future proof or polyfilled */
    }

    .print-hide,
    header,
    footer,
    nav,
    aside {
        display: none !important;
    }

    .print-visible {
        display: block !important;
    }

    .print-visible-inline {
        display: inline !important;
    }

    .print-page-break-inside,
    img,
    table {
        page-break-inside: avoid;
    }

    .print-page-break,
    article + article {
        page-break-before: always;
    }

    a::after {
        color: #888888;
        margin: 0 0 0 .5em;
        font-size: 14px;
        font-style: italic;
        text-decoration: underline;
    }

    a.btn::after,
    a.page-title::after {
        margin: 0;
        display: block;
    }

    a.page-teaser-image::after,
    .page-teaser-image a::after,
    .gmaps a::after,
    a._lbox::after {
        display: none;
    }

    a[href*=".html"]::after,
    a[href^="http"]::after,
    a[href^="//"]::after {
        content: "(" attr(href) ")";
    }
}

.loading::after, .loading::before {
    margin: auto;
    content: "";
    display: block;
    border: 5px solid transparent;
    border-top-color: #00a1f1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%
}

.loading::after {
    animation: rotate 1.45s linear infinite;
    width: 4em;
    height: 4em
}

.loading::before {
    animation: rotate 1.85s linear infinite;
    width: 4.75em;
    height: 4.75em
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.loading * {
    display: none
}

.header-line {
    background-color: #FFF;
    border-bottom: 3px solid #83b421;
    height: 80px;
}

.ui-tabs.ui-widget-content {
    border: none
}

.ui-tabs.ui-tabs-collapsible .ui-tabs-active a {
    cursor: pointer
}

.ui-tabs.blocks > .ui-tabs-nav {
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0 0 30px;
    border: none
}

.ui-tabs.blocks > .ui-tabs-nav li {
    float: none;
    margin: 0;
    display: table-cell;
    border-top-width: 1px;
    border-color: #ccc
}

.ui-tabs.blocks > .ui-tabs-nav .ui-tabs-anchor {
    padding: 4px
}

.ui-tabs.blocks > .ui-tabs-panel {
    padding: 0;
    border: none
}

.ui-tabs.links > .ui-tabs-nav {
    border: none;
    margin-bottom: 20px
}

.ui-tabs.links > .ui-tabs-nav li {
    margin: 0;
    background: none;
    border: none
}

.ui-tabs.links > .ui-tabs-nav li:hover a {
    color: #0b6097
}

.ui-tabs.links > .ui-tabs-nav .ui-tabs-anchor {
    color: #199bef
}

.ui-tabs.links > .ui-tabs-nav [clas*="column_"] .ui-tabs-anchor {
    padding-left: 0;
    padding-right: 0
}

.ui-tabs.links > .ui-tabs-panel {
    border: none;
    padding-left: 0;
    padding-right: 0
}

.ui-tabs.links.icons .ui-tabs-anchor [class*="icon-"] {
    display: block;
    font-size: 32px
}

.ui-tabs.links.border > .ui-tabs-nav {
    border-bottom: 2px solid #e6e6e6
}

.ui-tabs.links.border > .ui-tabs-nav li {
    margin-bottom: -2px;
    border-bottom: 2px solid #e6e6e6
}

.ui-tabs.links.border > .ui-tabs-nav li.ui-tabs-active, .ui-tabs.links.border > .ui-tabs-nav li:hover {
    border-bottom-color: #83b421
}

.ui-tabs.links.border > .ui-tabs-nav li.ui-tabs-active a, .ui-tabs.links.border > .ui-tabs-nav li:hover a {
    color: #83b421
}

.ui-tabs {
    position: relative;
    *zoom: 1
}

.ui-tabs:after {
    content: "";
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    height: 0
}

.ui-tabs.ui-widget-content {
    border: none
}

.ui-tabs.ui-tabs-collapsible .ui-tabs-active a {
    cursor: pointer
}

.ui-tabs .ui-tabs-nav {
    background: transparent;
    margin: 0;
    padding: 0;
    overflow: visible;
    border-bottom: 1px solid #ccc
}

.vertical .ui-tabs .ui-tabs-nav {
    float: left;
    width: 25%
}

.vertical .ui-tabs .ui-tabs-nav li {
    float: none;
    display: block;
    margin: 3px 0 0 0
}

.vertical .ui-tabs .ui-tabs-nav .ui-tabs-panel {
    clear: none
}

.ui-tabs .ui-tabs-nav li {
    float: left;
    margin: 2px -1px -1px 0;
    padding: 0;
    background: #e6e6e6;
    white-space: nowrap;
    list-style: none;
    line-height: normal;
    border: 1px solid #ccc
}

.ui-tabs .ui-tabs-nav li:hover {
    background: #d9d9d9;
    margin-top: 0;
    border-top-width: 3px
}

.ui-tabs .ui-tabs-nav li:hover a {
    color: #333
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active, .ui-tabs .ui-tabs-nav li.ui-tabs-loading, .ui-tabs .ui-tabs-nav li.ui-state-disabled {
    margin-top: 0;
    border-top: 3px solid #83b421;
    border-bottom-color: #fff;
    background: #fff
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a {
    cursor: text;
    color: #333;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor:focus{
    box-shadow: none;
}

.ui-tabs .ui-tabs-panel {
    margin-top: -1px;
    display: block;
    border: 1px solid #ccc;
    overflow: hidden;
    background: transparent;
    padding: 8px
}

.ui-tabs.blocks > .ui-tabs-nav {
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0 0 30px;
    border: none
}

.ui-tabs.blocks > .ui-tabs-nav li {
    float: none;
    margin: 0;
    display: table-cell;
    border-top-width: 1px;
    border-color: #ccc
}

.ui-tabs.blocks > .ui-tabs-nav .ui-tabs-anchor {
    padding: 4px
}

.ui-tabs.blocks > .ui-tabs-panel {
    padding: 0;
    border: none
}

.ui-tabs.links > .ui-tabs-nav {
    border: none;
    margin-bottom: 20px
}

.ui-tabs.links > .ui-tabs-nav li {
    margin: 0;
    background: none;
    border: none
}

.ui-tabs.links > .ui-tabs-nav li:hover a {
    color: #0b6097
}

.ui-tabs.links > .ui-tabs-nav .ui-tabs-anchor {
    color: #199bef
}

.ui-tabs.links > .ui-tabs-nav [clas*="column_"] .ui-tabs-anchor {
    padding-left: 0;
    padding-right: 0
}

.ui-tabs.links > .ui-tabs-panel {
    border: none;
    padding-left: 0;
    padding-right: 0
}

.ui-tabs.links.icons .ui-tabs-anchor [class*="icon-"] {
    display: block;
    font-size: 32px
}

.ui-tabs.links.border > .ui-tabs-nav {
    border-bottom: 2px solid #e6e6e6
}

.ui-tabs.links.border > .ui-tabs-nav li {
    margin-bottom: -2px;
    border-bottom: 2px solid #e6e6e6
}

.ui-tabs.links.border > .ui-tabs-nav li.ui-tabs-active, .ui-tabs.links.border > .ui-tabs-nav li:hover {
    border-bottom-color: #83b421
}

.ui-tabs.links.border > .ui-tabs-nav li.ui-tabs-active a, .ui-tabs.links.border > .ui-tabs-nav li:hover a {
    color: #83b421
}